{% extends 'main/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">Searching result: {{ count }}</p>
                {% for result in results %}
                    <a href="{% url 'blogpost' slug=result.slug %}"><h2>{{ result.title }}</h2></a>
                    <p>{{ result.description|safe }}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'main/block/pagination.html' %}
{% endblock %}