{% extends "main/base.html" %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-20 align-self-baseline">
                <h1 class="font-weight-bold mb-5">Create a new account to log in</h1>
                <form method="POST"> {% csrf_token %}
                    <div class="font-weight-light">
                        <div class="mb-5">
                            {{ regform.as_p}}
                        </div>
                        <button type="submit" class="save btn btn-primary btn-xl"> Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}